*{
	box-sizing : border-box;
	scroll-behavior : smooth;
}



nav .menu h1{
	display : block;
	margin-left : 100%;
	color : white;
	width : 5%;
	font-family : 'Hammersmith' , sans-serif;
}
nav .menu
{
	display:flex;
	background-color : #3a6cf4;
}


nav .menu ul
{
	display:flex;
	list-style-type:none;
	list-color : white;
	width : 100%;
	margin-left : 100%;
	margin-top : 5%;
	
}
nav .menu li
{
	

	float : left;
	white-space : nowrap;
	text-align : center;
	padding-left : 25%;
	
	
}


	
nav .menu a
{
	font-family : Comic Sans MS, sans-serif;
	text-decoration : none;
	color : white;
	
}
a:hover
{
	background-color : black;
	border-radius : 2em;
	
}
	

.content
{
	width : 100%;
	height : 100%;

	
}
p
{
	font-size : 20px;
	color : black;
	text-align : justify;
	font-family : 'Hammersmith' , sans-serif;
}
.titre
{
	display : inline-block;
	padding-left : 15%;
	padding-right : 15%;
	width : 70%;
	color : #3a6cf4;
	font-family : 'Fjalla One', sans-serif;
	text-align : center;
	text-decoration : underline ;
	font-size : 30px;
	
	
}
.homepage
{
	display : flex;	
	background : url(photo_bureau.jpeg)no-repeat;
	background-size : cover;
	max-width : 100%;
	max-height : 100%;

	
}

.homepage h1
{
	display : block;
	color : white;
	font-size : 50px;
	font-family : 'Poppins', sans-serif ;
}

.homepage btn
{

}
.homepage above
{
	display : flex;
	position : absolute;
	z-index : 2;
}

body
{
	margin : 0;
	padding : 0;
}

.espace
{
	display : flex;
	position : relative;
	padding-top : 20%;
}
.espace above
{
	display : flex;
}





.aproposc
{

	display : flex;
	justify-content : center;
	align-items : center;

}

.media-icons
{
	display : inline-block;
}

.home_text
{
	padding-left : 10%;
	padding-bottom : 10%;
}

.button
{
	display : inline-block;
	text-decoration : none;
	padding : 10px 30px;
	background-color : #3a6cf4;
	color : white;
	text-transform : uppercase;
	font-family : 'Poppins', sans-serif;
}


.media-icons a
{
	color : white;
	font-size : 25px;
}

#competences
{
	background-color : #000016;
}

#competences p
{
	color : white;
	font-size : 25px;
}

#competences span
{
	color : white;
	font-size : 25px;
	display : inline-block;
}
.main h2
{
	color : white;
	text-transform : uppercase;
	font-family : 'Fjalla One' , sans-serif;
	display : inline;
	
}

.titre-gauche
{

	padding-right : 10%;
}

.titre-droite
{
	position : relative;
	width : 50%;

}
.progress-bar
{
	display : flex;;
	text-decoration : none;
	padding : 3px 50%;
	background-color : #badb81;
	color : black;
	font-family : 'Poppins', sans-serif;
	width : 100%;
	text-align : center;
	border-radius : 2em;
}

.bar
{
	display : inline-block;
	white-space : nowrap;
	width : 50%;
	
	
}

.main
{
	display : flex;
	justify-content : center;
	align-items : center;
}

.btn-contact{
	display : flex;
	padding : 50px 30px;
	background-color : #fff;
	border-radius: 10px;
	box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
	align-items : center;
	justify-content : center;
	flex-direction : column;
}

.btn-contact i
{
	font-size : 40px;
	color : #3a6cf4;
	padding-bottom : 5%;
	
}

.btn-contact i:hover
{
	translateY(0);
}
.btn-contact span
{
	display : inline;
	font-size : 20px;
}
.btn-contact #linkedin
{
	white-space : none;
}
#contact .main
{
	display : flex;
}
#competences .main
{
	padding-bottom : 5%;
}

.nowraping
{
	white-space : nowrap;
}

.cpyright
{
	display : flex;
	background-color : #000016;
	font-size : 25px;
	margin-top : 5%;
	display : grid;
	place-items : center;
}

.cpyright-content span
{
	color : white;
	font-family : 'Hammersmith', sans-serif;
}
.cpyright-content h1
{
	text-align : center;
	color : white;
	text-transform : uppercase;
}
